<header class="yellow">
    <ul class="nav">
      <li><button><i class="fa fa-bars fa-lg" aria-hidden="true"></i></button></li>
      <li class="brand"><strong>Irene</strong> Keep</li>
      <li>
        <app-search-form>Loadding...</app-search-form>
      </li>
      <li>
        <ul>
          <li><button><i class="fa fa-refresh fa-lg" aria-hidden="true"></i></button></li>
          <li><button><i class="fa fa-pause fa-lg rotate" aria-hidden="true"></i></button></li>
        </ul>
      </li>
      <li>
        <ul>
          <li><button><i class="fa fa-th fa-2x" aria-hidden="true"></i></button></li>
          <li><button><i class="fa fa-bell fa-2x" aria-hidden="true"></i></button></li>
          <li><i class="fa fa-circle fa-2x" aria-hidden="true"></i></li>
        </ul>
      </li>
    </ul>
</header>
