<nav id="sidenav">
  <ul>
    <li><button><i class="fa fa-lightbulb-o fa-2x" aria-hidden="true"></i> Notas</button></li>
    <li><button><i class="fa fa-hand-o-up fa-2x" aria-hidden="true"></i> Recordatorio</button></li>
  </ul>
  <ul>
    <li id="edit">Etiquetas <button>EDITAR</button></li>
    <li><button><i class="fa fa-plus fa-2x" aria-hidden="true"></i> Crear etiqueta nueva</button></li>
  </ul>
  <ul>
    <li><button><i class="fa fa-folder fa-2x" aria-hidden="true"></i> Archivar</button></li>
    <li><button><i class="fa fa-trash fa-2x" aria-hidden="true"></i> Papelera</button></li>
  </ul>
  <ul>
    <li><button><i class="fa fa-cog fa-2x" aria-hidden="true"></i> Configuración</button></li>
    <li><button><i class="fa fa-comment fa-2x" aria-hidden="true"></i> Enviar comentarios</button></li>
    <li><button><i class="fa fa-question-circle fa-2x" aria-hidden="true"></i> Ayuda</button></li>
    <li><button><i class="fa fa-mobile fa-2x" aria-hidden="true"></i> Descargas de apps</button></li>
    <li><button><i class="fa fa-keyboard-o fa-2x" aria-hidden="true"></i> Combinaciones de teclas</button></li>
  </ul>
</nav>
