header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 8px;
}

.yellow {
    background: #ffbb00;
}

.nav li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
}

.fa-lg { 
    font-size: 1.6em;
    vertical-align: -webkit-baseline-middle;
}

.brand { 
    color: #000;
    font-size: 22px; 
}
