<ul class="notes">
  <li>
    <h4>Título de la Nota</h4>
    <p>bla bla bla bla</p>
    <ul>
      <li><button><i class="fa fa-hand-o-up fa-lg" aria-hidden="true"></i></button></li>
      <li><button><i class="fa fa-user-plus fa-lg" aria-hidden="true"></i></button></li>
      <li><button><i class="fa fa-user-plus fa-lg" aria-hidden="true"></i></button></li>
      <li><button><i class="fa fa-folder fa-lg" aria-hidden="true"></i></button></li>
      <li><button><i class="fa fa-bars fa-lg" aria-hidden="true"></i></button></li>
    </ul>
    <button class="pin"><i class="fa fa-thumb-tack fa-lg" aria-hidden="true"></i></button>
    <button class="check"><i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i></button>
  </li>
</ul>
