app-header {
    position: relative;
    display: block;
    z-index: 3;
}

app-main {
    position: relative;
    display: inline-block;
    width: 74%;
    vertical-align: top;
    z-index: 0;
}

app-sidemenu {
    position: relative;
    display: inline-block;
    width: 25%;
    height: 100%;
    background-color: #fff;
    vertical-align: top;
    z-index: 0;
}
