.notes {
    width: 80%;
    margin: 0 auto;
}

.notes>li {
    position: relative;
    display: inline-block;
    width: 30%;
    margin: 9px;

    padding: 12px 15px;
    background: #fff;

    -webkit-box-shadow: 0px 2px 5px 0px rgba(78,78,78,0.65);
    -moz-box-shadow: 0px 2px 5px 0px rgba(78,78,78,0.65);
    box-shadow: 0px 2px 5px 0px rgba(78,78,78,0.65);
}

.notes>li p {
    padding: 10px 0;
    font-size: 20px;
}

.notes>li>ul, .pin, .check {
    opacity: 0;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s; 
}

.notes>li:hover ul, .notes>li:hover .pin, .notes>li:hover .check {
    opacity: 1;
}

.notes>li>ul>li {
    position: relative;
    display: inline-block;
}

.notes>li>ul>li:not(:first-child) {
    padding-left: 15px;
}

.pin {
    position: absolute;
    top: 10px;
    right: 10px;
}

.check {
    position: absolute;
    top: -5px;
    left: -5px;
}